*{
  padding: 0%; margin: 0%;
  font-family: 'Space Mono', monospace;
  color: #FFFFFF;
  text-decoration: none;
}
body{
  background-image: url("./img/background.png");
  height: 100%;
}
.news{
  display: flex;
  justify-content: center;
  font-family: 'Space Mono', monospace;
  font-size: 20px;
  line-height: 35px;
  text-align: left;
  text-decoration: none;
  color: #FFFFFF;
  padding-top: 91px;
}
.news li{
  display: flex;
  text-align: left;
  list-style-type: none;
  color: #FFFFFF;
  justify-content: stretch;
  right: -330;
  position: relative;
}
.news li a{
  text-decoration: none;
  color: #FFFFFF;
  border-bottom: none;
  
}
.news li a:hover{
  color:#FFFFFF;
  background-color: #FF0000;
}
.logotype{
  display: flex;
  justify-content: center;
  margin-top: 180px;
  top: 182px;
}
.data{
  display: flex;
  justify-content: center;
  padding-top: 38px;
  size: 20px;
  line-height: 29.62px;
}
@media screen and (max-width: 310px) {
  .container{
  font-size: 20px;
  }
}
.links{
  display: flex;
  justify-content: center;
  padding-top: 78px;
}
.links li{
  list-style-type: none;
}
.medialinks{
  padding-left: 15px;
  padding-right: 15px;
}
